.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
  height: auto;
  padding: 15px;
  list-style-type: none;
  margin: 0;
}
.website-logo {
  width: 100px;
}
.score-details-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.score-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.span-text {
  color: #fec653;
  font-size: 16px;
  padding-left: 5px;
  margin: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-img {
  width: 20px;
  margin-right: 5px;
}
@media screen and (min-width: 576px) {
  .website-logo {
    width: 140px;
    margin-left: 15px;
  }
  .score-details-card {
    margin-right: 20px;
  }
  .score-text {
    font-size: 23px;
    margin-right: 18px;
  }
  .span-text {
    font-size: 25px;
  }
  .timer-img {
    width: 30px;
  }
  .timer-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .website-logo {
    width: 140px;
    margin-left: 24px;
  }
  .score-details-card {
    margin-right: 30px;
  }
  .score-text {
    font-size: 20px;
  }
  .span-text {
    font-size: 20px;
  }
  .timer-img {
    width: 30px;
  }
}
